<div class="row">
    <div class="col-xs-10">
      <!-- this is an old code to pass data to get data to this component now i use services
        <app-shopping-edit (ingerdiantAdded)="onIngerdiantAdded($event)"></app-shopping-edit>
        -->
      <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor = "let ingerdiant of ingredients">
                {{ingerdiant.name}} ({{ingerdiant.amount}})
            </a>
        </ul>
    </div>
</div>
