
<a class="list-group-item clearfix" routerLinkActive="active" [routerLink]="[index]" > <!--(click)="onSelectedRecipe()" not needed after learning routing-->
    <div class="pull-left">
        <h4 class="list-group-item-header">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>
    <div class="pull-right">
        <!-- i can also use src="{{ Recipe.imagePath }}" insted of [src]="Recipe.imagePath" -->
        <img [src]= "recipe.imagePath" alt="" class="img-responsive" style="max-height: 50px;">
    </div>
</a>
